<% provide(:title, "About Me") %>
<header>
  <%= render 'shared/navbar' %>
  <%= render 'shared/header_image' %>
  <%= render 'shared/header_menu' %>
</header>
  <div class="container-fluid">
    <div class="row about-me-wrapper">
      <div class="about-me">
        <h2 class="main-title">About Me</h2>
        <div id="backgroundimage">
          <div class="coming-soon">
            <h1 class="coming-soon-text">Coming Soon...!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>
