<script>
  $(function() {
    $("html").addClass("admin-wrap");
    $("body").addClass("admin-wrap");
    $(".wrap").addClass("admin-wrap");
  })
</script>
<div class="admin">
    <div class="col-md-2 admin-side">
    </div>
    <div class="col-md-10 admin-main"></div>
</div>
