<div class="col-md-6 post-list" ontouchstart="">
  <div class="post-item">
    <div class="col-md-5 col-sm-5 col-xs-5 post-item--side">
      <%= link_to post, class: "post-item--image" do %>
        <%= image_tag post.image.url(:thumb), class: "post-item--image__item" %>
      <% end %>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7 post-item--main">
      <h3 class="post-item--main_title"><%= link_to post.title, post %></h3>
      <div class="post-item--main_info">
        <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
        <span class="post-item--main_info__date">
          2018/06/07
        </span>
      </div>
    </div>
  </div>
</div>
