<div class="side-bar--post">
  <div class="side-bar--post_index"><%= post_side_counter + 1 %></div>
  <div class="row side-bar--post-item" ontouchstart="">
    <%= link_to post_side do %>
      <div class="col-md-5 co-xs-5 side-bar--post-item--side">
        <%= image_tag post_side.image.url(:thumb_mini), class: "side-bar--post-item--side_image" %>
      </div>
      <div class="col-md-7 col-xs-7 side-bar--post-item--main">
        <div class="side-bar--post-item--main_title">
          <%= post_side.title %>
        </div>
      </div>
    <% end %>
  </div>
</div>
