@media(min-width: 768px) {
  .admin-wrap {
    height: 100%;
  }
  .admin {
    height: 100%;
    &-side {
      background-color: white;
      border-right: 0.5px solid #cdcdcd;
      height: 100%;
      overflow-x: hidden;
      width: 200px;
      float: left;
      &--header {
        padding: 15px 20px;
        border-bottom: 0.5px solid #cdcdcd;
        i {
          width: 22.5px;
          text-align: center;
          vertical-align: -5%;
          font-size: 1.4em;
        }
        a {
          margin-left: 10px;
          text-decoration: none;
          color: black;
          font-size: 20px;
          font-weight: bold;
          &:hover {
            text-decoration: none;
            color: #707070;
          }
        }
      }
      &--menu {
        padding-left: 20px;
        ul {
          padding-left: 0;
        }
        i {
          width: 22.5px;
          text-align: center;
          vertical-align: -5%;
          font-size: 1.4em;
        }
        a {
          margin-left: 10px;
          text-decoration: none;
          color: black;
          font-size: 20px;
          font-weight: bold;
          &:hover {
            text-decoration: none;
            color: #707070;
          }
        }
        &_item {
          margin-top: 25px;
          &__sub {
            margin-top: 10px;
            margin-left: 25px;
          }
        }
      }
    }
    &-main {
      background-color: white;
      height: 100%;
      overflow-x: auto;
      float: left;
      width: calc(100% - 200px);
      &--header {
        border-bottom: 0.5px solid #cdcdcd;
        h2 {
          margin: 15px;
          line-height: 28px;
          font-weight: 400;
          font-size: 24px;
        }
      }
      &--body {
        margin: 15px;
        height: calc(100% - 90.5px);

        // posts#new --start
        .new-post-form {
          margin-bottom: 10px;
          &_confirm {
            float: right;
            margin-bottom: 10px;
            .btn {
              margin-left: 20px;
              font-weight: 400;
            }
          }
        }
        .uk-htmleditor {
          clear: both;
          &-code {
            min-height: 510px;
          }
          &-preview {
            min-height: 510px;
          }
        }
        // posts#new --end //

        // post#all,published,drafts --start
        &_posts {
          border: 1px solid #cdcdcd;
          border-radius: 10px;
          .post-head {
            padding: 10px 10px 10px 18px;
          }
          .post-data {
            padding: 10px 10px 10px 20px;
          }
          th {
            font-weight: bold;
          }
          button{
            width: 87.5px;
            padding: 1px 7px;
          }
          td {
            font-weight: bold;
            a {
              padding-left: 15px;
              color: #ff3d3d;
            }
          }
          .post-item:hover {
            cursor: pointer;
            background-color: #f9f9f9;
          }
          .pagination {
            border-top: 1.8px solid #cdcdcd;
            display: block;
            border-radius: 0;
            margin: 0;
            padding: 20px 0;
          }
        }
        // post#all,published,drafts --end//
      }
    }
  }
}
