.navbar-all {
  a {
    color: #2b2b2b;
    font-weight: normal;
    text-decoration: none;
  }
  span {
    color: #2b2b2b;
    font-weight: normal;
    text-decoration: none;
  }

  background-color: white;
  border-bottom: 0.5px solid #cdcdcd;

  .navbar-links {
    margin-right: 30px;
  }

  #categoriesModalLabel {
    text-align: center;
    font-weight: bold;
  }
  .caterogry-list-modal {
    &_item {
      text-align: center;
      margin: 10px auto;
      a {
        font-size: 20px;
        color: #777;
      }
    }
  }
  .modal-footer {
    text-align: center;
    .btn {
      width: 20%;
      padding: 6px 12px;
    }
  }

  @media(min-width: 768px) {
    .top-title-link {
      margin-left: 40%;
      font-weight: bold;
      font-size: 50px;
      padding: 30px;
      height: 80px;
      float: left;
      line-height: 20px;
    }
    .navbar-link {
      padding: 30px;
      height: 80px;
      font-size: 1.3em;
      cursor: pointer;
    }
    .modal-body {
      padding: 15px 100px;
    }
  }
  .navbar-toggle:focus {
    background-color: white;
  }

  @media(min-width: 0px) and (max-width : 767px) {
    .navbar-header {
      text-align: center;
      height: 70px;
      button {
        margin: 18px;
        text-decoration: none;
      }
      .top-title {
        display: block;
        margin: 15px;
        height: 40px;
        text-align: center;
        &-link {
          font-weight: bolder;
          font-size: 45px;
          line-height: 40px;
          margin-left: 60px;
        }
      }
    }
    .modal-body {
      padding: 15px;
    }
  }
}
