@media(min-width: 768px) {
  .post-wrapper {
    border-bottom: 0.5px solid #cdcdcd;
  }
  .post {
    &-date {
      margin-left: 5px;
      color: #777;
    }
    &-title {
      margin-bottom: 15px;
      color: black;
      font-weight: bold;
    }
    &-info {
      margin-left: 5px;
      &--category {
        font-size: 17px;
        float: left;
        color: #777;
        a {
          font-weight: 500;
          font-size: 17px;
          color: #777;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &--tags {
        float: right;
        margin-right: 50px;
        .tag {
          font-size: 15px;
          color: #777;
          padding: 2px 10px;
          margin: 0 1px;
          border: 0.5px solid #cdcdcd;
          border-radius: 3px;
          display: inline;
        }
      }
    }
    &-text {
      clear: both;
      padding: 30px 10px 10px;
      h2 {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      p {
        font-size: 17px;
      }
      blockquote {
        strong {
          font-size: 17px;
        }
      }
    }
  }
  .previous_next {
    clear: both;
    margin-top: 20px;
    .next {
      margin-left: 50px;
      float: left;
      color: #999;
      span {
        font-size: 2em;
      }
      a {
        font-size: 15px;
        vertical-align: middle;
        color: #777;
        text-decoration: none;
      }
    }
    .previous {
      margin-right: 50px;
      float: right;
      color: #999;
      span {
        font-size: 2em;
      }
      a {
        font-size: 15px;
        vertical-align: middle;
        color: #777;
        text-decoration: none;
      }
    }
  }
  .sticky {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
  }
  .side-bar {
    margin-top: 50px;
    margin-left: 10px;
    clear: both;
    .side-title {
      text-align: center;
      font-weight: bold;
      font-size: 27px;
    }
    &--posts {
    }
    &--post {
      margin: 20px 0;
      &_index {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: -5px;
      }
      &-item {
        margin-left: 20px;
        &--side {
          padding-left: 0;
          padding-right: 0;
          &_image {
            width: 100%;
          }
        }
        &--main {
          padding-left: 10px;
          &_title {
            font-weight: 600;
            font-size: 0.85em;
            color: #777;
          }
        }
      }
    }
  }

}
