.post-slider {
  &--item {
    display: block;
    width: 250px;
    p {
      background: #3498db;
      height: 150px;
      color: #fff;
      margin: 5px;
      line-height: 150px;
      text-align: center;
    }
  }
}

.main-wrapper {
  margin-top: 30px;
  border-top: 0.5px solid #cdcdcd;
}

.main-title {
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
.side-title {
  text-align: center;
}

@media(min-width: 768px) {
  .top-header {
    text-align: center;
    &--image {
      height: 170px;
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    border-bottom: 0.5px solid #cdcdcd;
    overflow-x: auto;
    &--list {
      margin: 20px auto;
      th:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        border-bottom: 0.5px solid #dbdbdb;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        margin: 20px 50px;
        font-size: 30px;
      }
    }
  }
  .slider-container {
    margin-left: 55px;
    margin-right: 55px;
    .post-slider {
      margin: 30px auto;
    }
  }
  .main-container {
    margin: 30px 80px;
  }
  .posts-wrapper {
    margin-bottom: 30px;
  }
  .posts {
    .post-item {
      width: 100%;
      margin: 5px;
      display: inline-block;
      padding: 25px 10px;
      text-decoration :none;
      box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
      transition: .3s;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      &--side {
        padding: 0;
      }
      &--image {
        &__item {
          height: 150px;
          width: 100%;
        }
      }
      &--main {
        padding-right: 0;
        height: 150px;
        &_title {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          margin-top: 5px;
        }
        &_info {
          width: 100%;
          position: absolute;
          top: 80%;
          margin-left: 5px;
          a {
            text-decoration: none;
            color: #303030;
            font-weight: bold;
            &:hover {
              color: #777;
            }
          }
          &__date {
            position: absolute;
            left: 65%;
            color: #777;
          }
        }
      }
    }
  }
}

@media(min-width: 0px) and (max-width : 767px) {
  .wrap {
    overflow: hidden;
  }
  .top-header {
    text-align: center;
    &--image {
      height: 85px;
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    height: 50px;
    border-bottom: 0.5px solid #cdcdcd;
    overflow-x: auto;

    &--list {
      margin: 10px auto;
      height: 30px;
      th {
        display: inline;
        margin-right: 30px;
        margin-left: 10px;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .slider-container {
    padding-left: 5px;
    padding-right: 5px;
    .post-slider {
      margin: 15px auto;
    }
  }
  .posts {
    .post-list {
      padding: 0;
      border-bottom: 0.5px solid #cdcdcd;
    }
    .post-item {
      width: 100%;
      margin: 5px;
      display: inline-block;
      padding: 15px 0px;
      text-decoration :none;
      transition: .3s;
      &--side {
        padding: 0;
      }
      &--image {
        &__item {
          width: 100%;
        }
      }
      &--main {
        padding-left: 5px;
        padding-right: 10px;
        height: 100px;
        &_title {
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
          margin-top: 0px;
        }
        &_info {
          width: 100%;
          margin-left: 5px;
          position: absolute;
          top: 80%;
          a {
            text-decoration: none;
            color: #303030;
            font-weight: bold;
            &:hover {
              color: #777;
            }
          }
          &__date {
            position: absolute;
            left: 60%;
            color: #777;
          }
        }
      }
    }
  }
}
