.post-slider {
  &--item {
    @include hover();
    display: block;
    margin: 0 2.5px;
    a {
      outline: none;
      &:hover {
        text-decoration: none;
      }
    }
    &_image {
      height: 150px;
      @media(max-width: 767px) {
        height: 135px;
      }
    }
    &_title {
      margin-top: 5px;
      margin-left: 5px;
      max-width: 210px;
      font-weight: 600;
      font-size: 0.85em;
      color: #777;
    }
  }
}
.side-title {
  text-align: center;
}

@media(min-width: 768px) {
  .top-header {
    text-align: center;
    &--image {
      height: 170px;
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    border-bottom: 0.5px solid #cdcdcd;
    overflow-x: auto;
    &--list {
      margin: 15px auto;
      th:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        border-bottom: 0.5px solid #dbdbdb;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        margin: 20px 50px;
        font-size: 28px;
      }
    }
  }
  .slider-container {
    margin-left: 55px;
    margin-right: 55px;
    .post-slider {
      margin: 30px auto;
    }
  }
  .main-wrapper {
    margin-top: 30px;
    border-top: 0.5px solid #cdcdcd;
    border-bottom: 0.5px solid #cdcdcd;
  }
  .main-container {
    margin: 30px 80px;
  }
  .posts-wrapper {
    margin-bottom: 30px;
  }
  .main-title {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 35px;
    font-weight: bold;
  }
  .posts {
    .post-item {
      width: 100%;
      margin: 5px;
      display: inline-block;
      padding: 25px 10px;
      text-decoration :none;
      box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
      transition: .3s;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      &--side {
        padding: 0;
      }
      &--image {
        &__item {
          height: 150px;
          max-width: 100%;
          @include hover();
        }
      }
      &--main {
        padding-right: 0;
        height: 150px;
        &_title {
          margin-top: 5px;
          a {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: black;
            text-decoration: none;
          }
        }
        &_info {
          width: 100%;
          position: absolute;
          top: 80%;
          margin-left: 5px;
          a {
            text-decoration: none;
            color: #303030;
            font-weight: bold;
            &:hover {
              color: #777;
            }
          }
          &__date {
            position: absolute;
            left: 65%;
            color: #777;
          }
        }
      }
    }
    &-all {
      @include clearfix();
    }
    .pagination {
      display: block;
      margin: 0 auto;
      padding-top: 30px;
      text-align: center;
      a {
        color: #777;
      }
      span {
        color: #777;
      }
      .page {
        width: 27px;
        // border: 1px solid #cdcdcd;
        padding: 3px 6px 3px 8px;
        margin: 0 1px;
        a {
          line-height: 25px;
        }
        span {
          font-size: 15px;
        }
      }
      &-arrow {
        width: 20px;
        a {
          width: 20px;
          line-height: 20px;
          font-size: 1.4em;
        }
      }
    }
  }
  .sub-container {
    margin: 30px 15%;
  }
  .profile {
    &-title {
      // text-align: center;
      margin-top: 0;
      margin-left: 25%;
      margin-bottom: 30px;
      color: black;
      font-size: 35px;
      font-weight: bold;
    }
    &-image {
      text-align: center;
      &--item {
        max-width: 100%;
        max-height: 210px;
      }
    }
    &-info {
      &--name {
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        margin-top: 5px;
      }
      &--sns {
        margin-right: 8px;
      }
      &--description {
        margin-top: 10px;
        p {
          letter-spacing: 0px;
          font-size: 14px;
          margin-bottom: 2px;
        }
        .btn {
          margin-top: 20px;
          min-width: 80%;
        }
      }
    }
  }
  .this_blog {
    &-title {
      text-align: center;
      margin-top: 0;
      margin-bottom: 30px;
      color: black;
      font-size: 35px;
      font-weight: bold;
    }
    &-description {
      p {
        letter-spacing: 0px;
        font-size: 14px;
        margin-bottom: 3px;
      }
      &--link {
        margin-top: 10px;
      }
    }
  }
}

@media(min-width: 0px) and (max-width : 767px) {
  .wrap {
    overflow: hidden;
  }
  .top-header {
    text-align: center;
    &--image {
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    height: 50px;
    border-bottom: 0.5px solid #cdcdcd;
    overflow-x: auto;

    &--list {
      margin: 10px auto;
      height: 30px;
      th {
        display: inline;
        margin-right: 30px;
        margin-left: 10px;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .slider-container {
    padding-left: 5px;
    padding-right: 5px;
    .post-slider {
      margin: 15px auto;
    }
  }
  .main-wrapper {
    margin-top: 30px;
    border-top: 0.5px solid #cdcdcd;
  }
  .main-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: black;
  }
  .posts {
    .post-list {
      @include hover_mobile();
      padding: 0;
      border-bottom: 0.1px solid #cdcdcd;
    }
    .post-item {
      width: 100%;
      display: inline-block;
      padding: 15px 5px;
      text-decoration :none;
      transition: .3s;
      &--side {
        padding: 0;
      }
      &--image {
        @include active_image();
        &__item {
          width: 100%;
        }
      }
      &--main {
        padding-left: 5px;
        padding-right: 10px;
        height: 100px;
        &_title {
          margin-top: 0px;
          a {
            @include active_text();
            text-decoration: none;
            font-weight: bolder;
            font-size: 13px;
            line-height: 17px;
            color: #444;
            // text-decoration: none;
          }
        }
        &_info {
          width: 100%;
          margin-left: 5px;
          position: absolute;
          top: 80%;
          a {
            @include active_text();
            text-decoration: none;
            color: #303030;
            font-weight: bold;
          }
          &__date {
            position: absolute;
            left: 50%;
            color: #777;
          }
        }
      }
    }
    &-all {
      @include clearfix();
    }
    .pagination {
      display: block;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      border-bottom: 0.5px solid #cdcdcd;
      a {
        color: #777;
      }
      span {
        color: #777;
      }
      .page {
        width: 27px;
        // border: 1px solid #cdcdcd;
        padding: 3px 6px 3px 8px;
        margin: 0 1px;
        a {
          line-height: 25px;
        }
        span {
          font-size: 15px;
        }
      }
      &-arrow {
        width: 20px;
        a {
          width: 20px;
          line-height: 20px;
          font-size: 1.4em;
        }
      }
    }
  }
  .sub {
    margin-bottom: 20px;
  }
  .profile {
    padding: 0 5px 25px;
    border-bottom: 0.5px solid #cdcdcd;
    &-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 25px;
      color: black;
    }
    &-image {
      padding-left: 5px;
      padding-right: 5px;
      &--item {
        width: 100%;
      }
    }
    &-info {
      padding-right: 0;
      &--name {
        font-size: 21px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
      &--sns {
        margin-right: 3px;
      }
      &--description {
        margin-top: 10px;
        p {
          margin-bottom: 2px;
          font-size: 13px;
        }
        .btn {
          margin-top: 10px;
          min-width: 80%;
        }
      }
    }
  }
  .this_blog {
    &-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 25px;
      color: black;
    }
    &-description {
      p {
        margin-bottom: 3px;
      }
      &--link {
        margin-top: 10px;
      }
    }
  }
}
