@media(min-width: 992px) {
  .container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media(min-width: 768px) {
  .top-header {
    text-align: center;
    &--image {
      height: 170px;
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    height: 70px;
    border-bottom: 0.5px solid #cdcdcd;
    &--list {
      margin: 20px auto;
      th:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        margin: 20px 50px;
        font-size: 30px;
      }
    }
  }
}

@media(min-width: 0px) and (max-width : 767px) {
  .top-header {
    text-align: center;
    &--image {
      height: 85px;
      width: 100%;
    }
  }
  .top-menu {
    background-color: white;
    height: 50px;
    border-bottom: 0.5px solid #cdcdcd;
    overflow-x: auto;

    &--list {
      margin: 10px auto;
      height: 30px;
      th {
        display: inline;
        margin-right: 30px;
        margin-left: 10px;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      &-item {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
