// setup
@import "./reset";
@import "./mixin/typography";
@import "./mixin/slick";
@import "./mixin/slick-theme";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// styles
@import "./mixin/button";
@import "./modules/navbar";
@import "./modules/footer";
@import "./modules/top";
@import "./modules/admin";
@import "./modules/user_form";
