@mixin hover() {
  &:hover {
    cursor:pointer;
    filter: alpha(opacity=70);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=70)";  /* ie 8 */
    -moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.7;              /* Safari 1.x */
    opacity:0.7;
    zoom:1;
  }
}

@mixin hover_mobile() {
  &:active {
    background-color: #eeeeee;
    cursor:pointer;
    filter: alpha(opacity=90);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=90)";  /* ie 8 */
    -moz-opacity:0.9;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.9;              /* Safari 1.x */
    opacity:0.9;
    zoom:1;
  }
}
